body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.card img {
  width: 100%;
  border: 2px solid #222;
  border-radius: 8px;
}

.card p {
  margin: 5px 0 0 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Remove margens e padding padrão do navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Apenas imagens dentro de capítulos */
main.chapter img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

main.chapter {
  width: 100%;
  box-sizing: border-box; /* evita overflow */
}


